@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #041C32;
  /* background-color: #04293A; */
  color: #fff;
}
a{
  text-decoration: none;
  color: inherit;
}
*{
  box-sizing: border-box;
}
.tokenList_info{
  display:grid;
  grid-template-columns: 1fr 5fr;
  gap:1rem;
  align-content: center;
  margin: 10px 0;
}
/* toggle */

.Toggle{
  text-align: center;
}

.Toggle_switch_box{
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}

.Toggle_checkbox{
  display: none;
}

.Toggle_label{
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #bbb;
  border-radius: 20px;
}

.Toggle_inner{
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.Toggle_inner:before,
.Toggle_inner:after{
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.Toggle_inner:before{
  content: "Yes";
  padding-left: 10px;
  background-color:  rgba(147, 197, 253 ,1);
  color: #1e1e1e;
}

.Toggle_inner:after{
  content: "No";
  padding-right: 10px;
  background-color:  rgba(147, 197, 253 ,1);
  color: #1e1e1e;
  text-align: right;
}

.Toggle_switch{
  display: block;
  width: 24px;
  margin: 5px;
  background-color: #ff2257;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition:  all 0.3s ease-in 0s;
}

.Toggle_checkbox:checked + .Toggle_label .Toggle_inner{
  margin-left: 0;
}

.Toggle_checkbox:checked + .Toggle_label .Toggle_switch{
  right: 0;
}
/*-------------END--- toggle------------ */
/* search token */

.SearchToken{
  position: absolute;
  margin: 0 auto !important;
  background-color: #04293A;
  padding: 1.2rem;
  border-radius: .5rem;
  width:25rem;
  height: auto;
}

.SearchToken_box_heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SearchToken_box_search{
  display: flex;
  align-items: center;
  background-color: #041C32;
  padding: .5rem 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.SearchToken_box_search input{
  background-color: transparent;
  outline: 0;
  border: 0;
  color: #1e1e1e;
  font-weight: 400;
  width: 90%;
}

.SearchToken_box_tokens{
  margin-top: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.SearchToken_box_tokens span{
  display: flex;
  align-items: center;
  gap: .2rem;
  border: 1px solid rgba(147, 197, 253 ,1);
  width: 5.7rem;
  padding: .2rem;
  border-radius: 1rem;
  cursor: pointer;
}


@media only screen and (max-width: 35em) {
  .SearchToken{
      width: 95%;
  }

  .SearchToken_box_tokens{
      display: flex;
      flex-wrap: wrap;
  }
}
/* ====END====search token */

/*------------scroll------------*/
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgb(253, 254, 255);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(147, 197, 253 ,1);

  border: 3px solid rgba(147, 197, 253 ,1);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
/* -------------END----Scroll-------------- */

@media only screen and(max-width:35em){
  .hero_section{
    width: 95% !important;
  }
  .hero_section_box{
    width: 95% !important;
  }
  .hero_section_box_input input{
    width: 60% !important;
    
  }

}